<h2 class="mb-5 mt-5">Vista Productos</h2>
{{#if products.length}}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col">Foto</th>
        </tr>
      </thead>
      <tbody>
        {{#each products }}
            <tr>
                <td class="align-middle">{{this.name}}</td>
                <td class="align-middle">{{this.price}}</td>
                <td class="align-middle"><img class="tblImg" src="{{this.image}}" alt="prodImg"></td>
            </tr>
        {{/each}}      
      </tbody>
    </table>
    {{else}}
        <h5 class="mb-5 bg-light p-5 rounded">No hay productos</h5>
{{/if}}

